*.ncrunchproject
*.ncrunchsolution
*.suo
*.ncb
*.baml
*.cache
*.g.cs
*.g.i.cs
*.log
*.user
*.sig
*.dbf
*.shp
*.shx
*.sln.docstates
*.resharper
*.sdf
*.opensdf
*.shfbproj_*
*.chw
*.metaproj
*.~vsd
*.editorconfig
*.stackdump
_ReSharper*/
precompiled/
/_build/
/_deploy/
/*/obj/